
<%= form_for(task) do |f| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% task.errors.full_messages.each do |task| %>
          <li><%= task %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="row">
  <div class="col-lg-7"><%=f.label :status, 'ステータス' %></div>
  <div class="col-lg-6 col-sm-8"><%= f.text_field :status, class: 'form-control' %></div>
  </div>

  <div class="row">
  <div class="col-lg-7"><%= f.label :content, 'タスク' %></div>
  <div class="col-lg-6 col-sm-8"><%= f.text_field :content, class: 'form-control' %></div>
  </div>

  <%= f.submit '登録' %>
  
<% end %>